/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/* Default Style */

body{
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    background-color: #f3f2f1;
}

*:not(i){
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

::before, ::after{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

.container{
    max-width: 1140px;
    margin: auto;
}

header, section, footer{
    display: block;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2{
    font-size: 45px;
    color: #dc0c7b;
    font-weight: 700;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 2px;
    margin: 0;
    text-transform: capitalize;
}

.section-title h3{
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
}

.section-title span{
    opacity: 0.5;
    font-size: 12px;
    letter-spacing: 1px;
}

/* Header */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.header .brand-name{
    padding: 0 15px;
}

.header .brand-name a{
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header .nav{
    padding: 0 15px;
   
}

.header .nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .nav ul li{
    display: inline-block;
    margin-left: 30px;
}

.header .nav ul li a{
    display: block;
    padding: 25px 0;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition:color 0.5s ease;
}
.header .nav ul li a.active,
.header .nav ul li a:hover{
    color: #dc0c7b;
}

/* Home Section */

.home-section{
    min-height: 100vh;
    
}

.home-section .slide{
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.home-section .slide:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.home-section .row{
    min-height: 100vh;
}

.home-section .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
}

.home-section .home-content p{
    font-size: 24px;
    color: #ffffff;
    margin: 0 0 15px;
}

.home-section .home-content h1{
    font-size: 80px;
    color: #ffffff;
    margin: 0;
    font-weight: normal;
    font-family: 'Great Vibes', cursive;
}

.home-section .home-content span{
    font-size: 20px;
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 30px;
    color: #ffffff;
    padding: 7px 30px;
    margin: 15px 0 0;
}

/* Couple Section */
.couple-section{
    padding: 80px 0 0;
    margin-bottom: 50px;
}

.couple-section .couple{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 60px;
    text-align: center;
    position: relative;
}

.couple-section .couple:nth-child(2):before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #cccccc;
}

.couple-section .couple img{
    max-width: 280px;
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
    border-color: #dc0c7b;
}

.couple-section .couple h3{
    font-size: 40px;
    margin: 15px 0;
    color: #dc0c7b;
    font-family: "Great Vibes", cursive;
    font-weight: normal;
}


/* Story Section */
.story-section{
    padding: 80px 0 80px;
}

.story-section .story-content{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}

.story-section .story-content::before{
    content: '';
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    top: 0;
    background-color: #cccccc;
}

.story-section .story-item{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
}

.story-section .story-item:last-child{
    margin-bottom: 0;
}

.story-section .story-item:nth-child(even){
    flex-direction: row-reverse;
}

.story-section .story-item:nth-child(odd) .story-text{
    padding: 0 60px 0 15px;
    text-align: right;
}

.story-section .story-item:nth-child(odd) .story-img{
    padding: 0 15px 0 60px;
}

.story-section .story-item:nth-child(even) .story-text{
    padding: 0 15px 0 60px;
}

.story-section .story-item:nth-child(even) .story-img{
    padding: 0 60px 0 15px;
}

.story-section .story-text h3{
    color: #dc0c7b;
    margin-bottom: 10px;
}

.story-section .story-text p{
    font-weight: normal;
    margin-top: 10px;
}

.story-section .story-text .date{
    font-weight: 700;
    
}

.story-section .story-text,
.story-section .story-img{
    flex: 0 0 50%;
    max-width: 50%;
}

/* Event Section */
.event-section{
    background-color: #dc0c7b;
    padding: 80px 0 80px;
}

.event-section .section-title h2{
    color: #ffffff;
}

.event-section .event-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
}

.event-section .event-item-inner{
    background-color: #ffffff;
    padding: 60px 45px 50px;
    text-align: center;
    box-shadow: 0 0 10px #888888;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}

.event-section .event-item:nth-child(2){
    transform: translateY(50px);
}

.event-section .event-item-inner:before{
    content: '';
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    border: 5px solid transparent;
    border-color: #dc0c7b;
}

.event-section .event-item-inner h3{
    color: #000000;
    font-weight: 500;
    font-size: 24px;
    margin: 0 0 15px;
    text-transform: capitalize;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
    display: inline-block;
}

.event-section .event-item-inner span{
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #dc0c7b;
}

.event-section .event-item-inner span.time{
    margin-bottom: 15px;
}

.event-section .event-item-inner p{
    font-size: 16px;
    line-height: 26px;
    color: #555555;
    margin: 0;
}

/* Gallery Section */
.gallery-section{
    padding: 80px 0 80px;
    background-color: #dc0c7b;
}

.gallery-section .section-title h2{
    color: #ffffff;
}

.gallery-section .gallery-item{
    flex: 0 0 33.33%;
    max-width: 33.33;
    padding: 15px;
}

.gallery-section .gallery-item-inner{
    overflow: hidden;
    cursor: pointer;
}

.gallery-section .gallery-item-inner img{
    width: 100%;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.gallery-section .gallery-item-inner:hover img{
    transform: scale(1);
}

/* RSVP Section */
.rsvp-section{
    padding: 80px 0 80px;
}

.rsvp-section .rsvp-item form{
    display: inline-block;
    background-color: rgba(220, 220, 220, 0.5);
    padding: 10px;
    text-align: center;
}

.rsvp-section .rsvp-item .email,
.rsvp-section .rsvp-item .nama {
    border: 1px solid #aaa;
    padding: 5px;
    margin: 5px;
    width: 200px;
    border-style: none;
}
.rsvp-section .rsvp-item .submit{
    background-color: #dc0c7b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
}


/* Copyright */
p.copyright-text{
    text-align: center;
    font-size: 14px;
    padding: 0 15px;
    color: #555555;
    padding: 20px 0;
    border-top: 1px solid #cccccc;
}